*.iml
.idea
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build
buildSrc
/captures
.externalNativeBuild
.cxx
local.properties
/keystore
google-services.json
app/google-services.json
fastlane/google.json
thunder-tests/thunderEnvironment.json
*.log