<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="21cd8568a8202c8e986bd1f74fae6016"/>
    </application>
</manifest>