<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="com.savvasdalktsis.uhuruphotos.foundation.download.implementation.DownloadCompletedBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>